.container{
  max-width: 400px;
  min-height: 450px;
  margin: 0 auto;
  background-color: aquamarine;
  margin-top: 50px;
  padding: 15px 50px;
}
.text-container{
  text-align: center;
}
.expense-container{
  display: flex;
  justify-content: space-around;
  background-color: bisque;
  box-shadow: burlywood;
}