.container{
  max-width: 400px;
  min-height: 450px;
  margin: 0 auto;
  background-color: aquamarine;
  box-shadow: 0 0 10px beige;
  margin-top: 50px;
  padding: 15px 50px;

}
.expense-container{
  display: flex;
  justify-content: space-around;
  background-color: darkblue;
}