.container{
  max-width: 400px;
  min-height: 450px;
  margin: 0 auto;
  background-color: aquamarine;
  box-shadow: darkcyan;
  margin-top: 50px;
  padding: 15px 50px;
}
.text-container{
  text-align: center;
  color: rgba(81, 3, 83, 0.767);
}
.expense-container{
  display: flex;
  justify-content: space-around;
  background-color: bisque;
  box-shadow: burlywood;
}
.transaction-form input{
  width: 100%;
  margin: 10 px 0;
  padding: 5px 0;
}
.transaction-list{
  margin: 0;
  padding: 0;
}
.transaction-list > li{
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px blueviolet;
  padding: 10px 5px;
  background-color: bisque;
  margin: 5px 0;
}